
.footer {
    font-size: 14px;
}

.footer__content a {
    color: black;
}

.footer__left a {
    color: black;
}

.footer__right a {
    color: black;
} 

.res_footer__text a {
    color: black;
}

.res_footer__link a {
    color: #000;
}
.res_footer__link {
    display: flex;
    justify-content: space-between;
}